<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/styles/homestyle.css" >
<title>Mage-Hand Repository</title>
</head>
<body>
	<div class="layout">
		<h1>Welcome to the Mage-Hand Repository!</h1>
		<div class="content">
			<nav>
				<button id="login-btn" onclick="location.href='login'">Login</button>
				<button id="account-btn" onclick="location.href='account'">My Account</button>
				<button id="home-btn" onclick="location.href='index'">Home</button>
				<button id="races-btn" onclick="location.href='races'">Races</button>
				<button id="classes-btn" onclick="location.href='classes'">Classes</button>
				<button id="spells-btn" onclick="location.href='spells'">Spells</button>
				<button id="items-btn" onclick="location.href='items'">Items</button>
				<button id="character-sheets-btn" onclick="location.href='charactersheets'">Character Sheets</button>
			</nav>
			<section>
				<p>
					Welcome to the Mage Hand Repository! This website is designed to
					tackle the outdated need for physical character sheets when playing
					Dungeons and Dragons (5e only currently). Tired of printing out
					character sheets? Dreading taking your binder with you to game
					night? If so, then this is the website for you! Begin your
					adventure with a virtual character sheet, and delve through the
					dungeon of our various databases! Unfortunately, we do not
					currently have a character generator but we will have one in the
					future. For now though, you can still create a virtual character
					sheet and import your stats (instead of having to reprint that darn
					sheet and fill it out again)!<br>
					<br>
					<br>Interested in joining our community? Create an account
					below!
				</p>
				<button id="create-account-btn"
					onclick="location.href='createaccount'">Create an
					Account</button>
			</section>
		</div>
	</div>
</body>
</html>
