<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/styles/loginstyle.css">
<title>Mage-Hand Repository Login</title>
</head>
<body>
	<div class="layout">
		<h1>The Mage-Hand Repository</h1>
		<header>Login</header>
		<nav>
			<button id="login-btn" onclick="location.href='login'">Login</button>
			<button id="account-btn" onclick="location.href='account'">My
				Account</button>
			<button id="home-btn" onclick="location.href='index'">Home</button>
			<button id="races-btn" onclick="location.href='races'">Races</button>
			<button id="classes-btn" onclick="location.href='classes'">Classes</button>
			<button id="spells-btn" onclick="location.href='spells'">Spells</button>
			<button id="items-btn" onclick="location.href='items'">Items</button>
			<button id="character-sheets-btn"
				onclick="location.href='charactersheets'">Character Sheets</button>
		</nav>
		<section>
			<div class="login">Please enter your credentials to login</div>
			<br> <label for="email">Email Address</label> <input id="email"
				type="email" placeholder="Email Address" /> <br> <br> <label
				for="password">Password</label> <input id="password" type="password" />
			<br> <br> <br>
			<button type="submit">Submit Credentials for Review</button>
		</section>
	</div>
</body>
</html>